table {
  width: 100%;
}

tbody {
  background: #085A98;
}

.calendar-calendar {
  margin: 4px;
}

.calendar-calendar div.date-nav {
border: 1px solid #C15012;
background-image: url(../img/calendar_bg.gif);
color:#fff;
padding:0.2em;
width:auto;
}

.week-view table{
  width: 400px !important;
}

.date-heading a {
  color: #fff;
}

.date-prev a {
  color: #fff;
}

.date-next a {
  color: #fff;
}

.month-view td {
  border-bottom: 1px solid #2B6EA3;
}

.month-view a {
  color: #fff;
}

.year-view tbody {
  border-top: none;
}

.attachment-after {
  width: 90%;
}

td.past {
  border-left: 1px solid #2B6EA3;
  border-right: 1px solid #2B6EA3;
}

td.future {
  border-left: 1px solid #2B6EA3;
  border-right: 1px solid #2B6EA3;
}

td.today {
  border-left: 1px solid #2B6EA3;
  border-right: 1px solid #2B6EA3;
}

td.today a {
  color: #FFAF3C;
  font-weight: bold;
}

td.past a:hover {
  text-decoration: underline;
}

td.future a:hover {
  text-decoration: underline;
}

td.today a:hover {
  text-decoration: underline;
}

div.calendar-calendar li a.active {
  color: #FFAF3C;
}

th.days {
  padding-bottom: 5px;
}

div.right div.feed-icon a.ical-icon {
  display: none;
}

div.feed-icon a.ical-icon {
  margin: 0 20px 0 0;
}

#calendar_div, .calendar_control, .calendar_links, .calendar_header, .calendar {
border-collapse:separate;
margin:0;
width:40px;
}

div.week a {
  color: #fff;
}

div.week a:hover {
  text-decoration: underline;
}
