body {
  background-color: rgb(0,74,128);
  background-image: url(../images/background-gradient.jpg);
  background-repeat: repeat-x;
  color: #ffffff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "sans-serif"; 
  font-size: 10pt; 
}
a {
  color: rgb(0, 174,239);
  text-decoration: none;
}
div.footer {
  clear: both;
  height: 156px;
  background-color: rgb(11,59,101);
  border-top: 2px solid rgb(1, 85, 147);
}
div.topnav {
  height: 65px;
  background-color: rgb(11,59,101);
  border-bottom: 2px solid rgb(1, 85, 147);
  background-image: url(../images/background-topnav-bar.jpg);
  background-repeat: repeat-x;
}
div.left {
  float: left;
  width: 176px; 
  margin-right: 20px; 
}
div.middle {
  float: left;
  width: 556px;
  padding-left: 10px;
  padding-right: 10px;
}
div.right {
  float: left;
  width: 176px; 
  margin-left: 20px;
 
}
div#content-container, div.topnav div.block, div.footer div.block {
  margin-left: auto;
  margin-right: auto;
  width: 968px;  
}
div.topnav div#block-menu-primary-links div.content {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  text-align: center;
}
div.topnav ul.menu {
  display: inline;
  text-align: center;
}

div.topnav ul.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 10pt;
  font-weight: bold;
}

div.topnav ul.menu li {
  display: inline-block;
  list-style-image: none;
  list-style-type: disc;
  color: rgb(250,159,25);
  margin-right: 9px;
  line-height: 44px;
  margin-top: 15px; 
}

div.topnav ul.menu li.first {
  list-style-type: none;
}

#block-menu-primary-links h3 {
  margin: 0px;
  display: none;  
}

div.footer ul.menu {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

div.footer ul.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 9pt;
  font-weight: bold;
}

div.footer ul.menu li {
  list-style-image: none;
  list-style-type: none;
  color: rgb(250,159,25);
  display: inline;
}
div#block-menu-menu-menu-footer {
}
div#block-block-2 {

  color: rgb(1,83,142);
  font-size: 9pt;
  text-align: center;
}

div#block-block-2 a {
  color: rgb(1,83,142);
}

images#logo {
  z-index: 100;
  position: absolute;
  margin-left: -35px;
  margin-top: -15px;
}
#logo-holder {
  height: 282px;
}
hr.block-ender {
  display: none;
  width: 176px;
}
div.left hr.block-ender, div.right hr.block-ender {
  display: block;
  border-top: 1px solid rgb(1,67,115);
  border-bottom: 1px solid rgb(20,88,138);
}

input[type=text], input[type=password], textarea {
  border: 0px;
  background-color: rgb(8,90,152);
  color: #ffffff;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
input[type=text], input[type=password] {
  height: 23px;
  
}
div#edit-search-block-form-1-wrapper input[type=text], #search-form input[type=text] {
  background-image: url(../images/search-textfield-bg.gif);
  background-repeat: no-repeat;
  background-position: 7px 7px;
}
#search-block-form input[type=submit], #search-form input[type=submit] {
  background:transparent url(../images/search-go-button.png) no-repeat;
  height: 32px;
  width: 44px;
  border: 0px;
  cursor: pointer; 
  overflow: hidden;
  font-size: 0pt;
  left: -10px;
  top: -1px;
  position: relative;
}
#search-block-form label {
  display: none;
}

#user-login-form {
  text-align: left;
}

#user-login-form input[type=submit], #user-login input[type=submit] {
  background:transparent url(../images/login-button.png) no-repeat;
  height: 31px;
  width: 62px;
  border: 0px;
  cursor: pointer; 
  overflow: hidden;
  font-size: 0pt;
  display: block;
  float: right;
}

#user-login-form  input[type=text], #user-login-form input[type=password] {
  width: 176px;
}

#user-login-form li {
  font-size: 7.5pt;
  list-style-type: none;
}
#user-login-form li a {
    text-decoration: none;
}
#user-login-form div.item-list {

}
#user-login-form .item-list ul {
  display: block;
  padding-left: 5px;
  margin: 0;
}
#user-login-form .item-list ul li {
  margin: 0;
}
label span.form-required {
  display: none;
}

tr.even, tr.odd {
  background-color: rgb(0,59,102);
}

div.left ul, div.right ul {
  margin: 0;
  padding: 0;
}
div.left li , div.right li {
  list-style-type: none;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 9pt;
  line-height: 16px;
}
div.left a, div.right {
  
}
div.left a, div.right a, div.panel-pane div.view a {
  color: rgb(255,255,255);
}

ul.primary {
  white-space: normal;
 }
 
 span.print-link {
   display: block;
   float: none;
   text-align: right;
 }
div.middle div.node {
  background-image: url(../images/background-post.jpg);
  background-repeat: no-repeat;
  padding: 10px;
}
div.middle div.node h2 a {
  color: rgb(255,255,255);
}
div.block-views .view-footer, div.panel-pane div.view-footer {
  text-align: right;
}
div.block-views .view-footer a, div.panel-pane div.view-footer a {
  color: rgb(0,174,239);
}

fieldset legend a {
 color: rgb(255,255,255);
}

div.block-aggregator div.more-link a {
  color: rgb(0,174,239);
}

div.block-aggregator li div.icon {
  display: none;
}

.resizable-textarea .grippie {
  background-color: rgb(11,59,101);
  border-color: rgb(1,82,141);
}
select {
   background-color: rgb(8,90,152);
   color: rgb(255,255,255);
}
div.bg-h2 {
  background-image: url(../images/star.png);
  background-repeat: no-repeat;
}

div.bg-h2 h2 {
  margin: 0px;
  margin-left: 45px;
  padding-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 10px;

}
div.bg-h2 span.submitted {
  font-size: 8pt;
}
div.node div.links {
  font-size: 8pt;
}

ul.primary li a:hover {
  background-color: rgb(11,59,101);
}
ul.primary li a {
  background-color: rgb(11,59,101);
}
ul.primary li a.active {
  background-color: rgb(11,59,101);
  color: rgb(255,255,255);
}

label.views-label-body {
  display: none;
}

.taxonomy {
  margin: 15px 0 25px 0;
  padding-top: 10px;
  clear :left;
}

.taxonomy {
  border-top: 4px solid #eee;
}

.taxonomy span{
  background: url(../images/icons/tags.gif) no-repeat;
}
